<div class="custom-container.medium">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/authorization">Sign in</a></li>
      <li class="breadcrumb-item active" aria-current="registration">Sign up</li>
    </ol>
  </nav>

  <div class="text-center custom-container">
    <div class="sign-in">
      <form novalidate>
        <div>
          <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        </div>
        <div>
          <input type="text" id="inputEmail" class="form-control" placeholder="Login" required>
        </div>
        <div>
          <input type="text" id="inputEmail" class="form-control" placeholder="User Name" required>
        </div>
        <div>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        </div>        
        <div>
          <input type="password" id="inputPassword" class="form-control" placeholder="Confirm password" required="">
        </div>
        <div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>        
      </form>
    </div>
  </div>
</div>
