<div class="container">
  <div>

    <!---->
    <section>
      <header>
        <h2>Management page</h2>
        <p>
          On this page you can assign programmers to projects, and if necessary, remove them from projects.
        </p>
      </header>
    </section>

    <section>
      <div>

        <!---->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" style="cursor: pointer;">Project Name</th>
              <th scope="col" style="cursor: pointer;">Description</th>
              <th scope="col" style="cursor: pointer;">Date of Creation</th>
              <th>Developer</th>
              <th>Position</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of fullList">
              <ng-template [ngTemplateOutlet]="loadTemplate(item)" [ngTemplateOutletContext]="{ $implicit: item}"></ng-template>
            </tr>
          </tbody>
        </table>

        <!---->
        <table>
          <tr>
            <ng-template #TemplatePart1 let-item>
              <td>{{item.projectName}}</td>
              <td>{{item.description}}</td>
              <td>{{item.dateOfCreate | date}}</td>
              <td>{{item.fullName}}</td>
              <td>{{item.position}}</td>
              <td><button type="button" class="btn btn-outline-danger" (click)="edit(item)">Edit</button></td>
              <td><button type="button" class="btn btn-outline-info">Delete</button></td>
            </ng-template>
          </tr>
        </table>

        <!---->
        <table>
          <tr>
            <ng-template #TemplatePart2 let-item>
              <td>{{item.projectName}}</td>
              <td>{{item.description}}</td>
              <td>{{item.dateOfCreate | date}}</td>
              <td>
                <select class="form-control" [(ngModel)]="option" (click)="choose(option)" #develop>
                  <option value="0">Select...</option>
                  <option *ngFor="let developer of developers" [value]="developer.id">{{developer.name}} {{developer.lastName}}</option>
                </select>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="option" (click)="choose(option)">
                  <option value="0">Select...</option>
                  <option *ngFor="let developer of developers" [value]="developer.id">{{developer.position}}</option>
                </select>
              </td>
              <td><button type="button" class="btn btn-outline-info" (click)="save()">Save</button></td>
              <td><button type="button" class="btn btn-outline-info" (click)="cancel()">Cancel</button></td>
            </ng-template>
          </tr>
        </table>

      </div>
    </section>
  </div>

</div>
